*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    background-color: #3a3153;
    list-style: none;
}
social{
    position:fixed;
    margin: 0;
    padding: 0;
    text-decoration: none;
    bottom: 0px;;
    box-sizing: border-box;
    left:0;
    margin-bottom: 0px;
    margin-left : 100px;
    width: 2px;
    height: 300px;
    background-color: #5f43b2;
    border-radius: 25px;
}
social li{
    height: 50px;
    position:relative;
}
social li a{
    color: #5f43b2;
}
social li a i{
    position: absolute;
    left: -10px;
    font-size: 30px;
}
a:hover{
    color: #b1aebb;
}
.preloader{
    background: #5f43b2 url(Preloader.gif) no-repeat center center;
    background-size: 5%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    transition: opacity 1s, visibility 1s;
}
.preloader--hidden{
    opacity: 0;
    visibility: hidden;
}